/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: "Avenir-Book", sans-serif;
  color: #616971;

}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "Avenir-Black";
  src: url(../fonts/avenir_ff/AvenirLTStd-Black.otf);
}
@font-face {
  font-family: "Avenir-Book";
  src: url(../fonts/avenir_ff/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: "Avenir-Roman";
  src: url(../fonts/avenir_ff/AvenirLTStd-Roman.otf);
}

/*============= TOP BAR HEADER =============*/

/*============= NAVIGATION =============*/
.navbar {
  padding: 2rem;
  color: black;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.4s ease-in;
}
.navbar-brand img {
  width: 15vw;
}

.navbar-nav .nav-item {
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: center;
  margin: auto;
}

.navbar-nav .nav-item .nav-link {
  color: #94a2b3;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #ed008c;
}

/*============= MAİN =============*/
.main {
  background-color: white;
}
.main .row {
  height: 100vh;
}
.main .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.main .main-imagebox {
  margin-top: 5rem;
  position: relative;
  z-index: 4;
}
.main-textbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  align-items: flex-end;
  align-content: flex-end;
}
.main-textbox h2 {
  color: #ed008c;
}
.main-textbox h3 {
  color: #2b3ba1;
  font-weight: 900;
  font-weight: bold;
  font-family: "Avenir-Black", sans-serif;
}
.main-textbox h4 {
  color: #707070;
}
.main-textbox h5 {
  color: #707070;
  width: 60%;
}
.main-textbox .storebox img {
  width: 150px;
}
.abs-img-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%);
  z-index: 5;
}
.abs-img-1 img {
  width: 250px;
}
.main-background {
  position: absolute;
  left: 0;
  bottom: 0;
}
.main-background img {
  width: 50vw;
}
/*---Content-1 --*/
.c1-firstrow {
  margin-top: 5rem;
}
.c1-firstrow .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.c1-firstrow .col h2 {
  padding: 1rem 0 1rem 0;
  font-weight: 900;
  font-family: "Avenir-Black", sans-serif;
  font-size: 1.25rem;
}
.c1-firstrow h4{
  font-size: 1.3rem;
  font-family: "Avenir-Black", sans-serif;
  padding-top: 1rem;
  color: #94A2B3;
}
.dotted-separator {
  margin-top: 5rem;
  background-image: url(../img/Group\ 78.png);
  height: 10vh;
}
.w-75 {
  width: 75%;
  margin: auto;
  display: flex;
}
.c1-textbox {
  width: 80%;
}
.c1-textbox h4 {
  text-align: left;
  padding-top: 2rem;
}
.c1-textbox h5 {
  text-align: justify;
  padding-top: 1rem;
  font-size: 0.9rem;
}
.before-last-child {
  margin-top: 1rem !important;
}
.last-child {
  margin-top: 5rem !important;
}
.pink-offer-button {
  margin: auto;
  margin-top: 5rem;
}
.pink-offer-button button {
  background-color: #ed008c;
  border: none;
  width: 100%;
  height: 7vh;
  border-radius: 20px;
  color: white;
  font-weight: 900;
}
/*-- Content-1 --*/

/*-- Content-2 --*/
.content-2 {
  background: rgb(237, 0, 140);
  background: linear-gradient(180deg, rgba(237, 0, 140, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.textbox-col {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
}
.c2-textbox h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

.c2-textbox h3 {
  position: relative;
  font-size: 1.65rem;
  font-weight: 900;
}
.c2-textbox h4 {
  text-align: right;
  font-size: 1rem;
}
.c2-textbox h4:last-child {
  text-align: right;
}

.c2-textbox .storebox {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.c2-textbox .storebox img {
  width: 200px;
}

.c2-textbox .storebox img:last-child {
  margin-left: 1rem;
}
/*-- Content-2--*/
/*-- Content-3--*/
.content-3-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  padding: 3rem 0rem 3rem 0rem;
}
.content-3-header h2 {
  color: #ed008c;
  font-weight: 800;
  
  font-family: "Avenir-Black", sans-serif;
}
.content-3 h4 {
  color: #ed008c;
  font-weight: 600;
}
.content-3-2 h4 {
  color: #ed008c;
  font-weight: 600;
}
.content-3 p {
  padding-top: 1rem;
}
.c3-inline-img {
  width: 5vw;
  padding-right: 1rem;
}
.c3-textandimgbox {
  padding-top: 1rem;
}
.bi-background {
  left: 0;
  top: 0;
  transform: translate(25%, 0%);
  position: absolute;
  border-radius: 12px;
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bi-background .bi-logo {
  width: 35px;
  height: 35px;
}
/*-- Content-3-*/

/*===== FIXED BACKGROUND IMG =====*/

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
}

/*-- Emoji Navbar --*/

/*============= FOOTER =============*/

/*============= SOCKET =============*/

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
